@import "../../styles/all.css";

.h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-h1-mobile;
    line-height: $line-height-h1-mobile;
  }
}

.h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-h2-mobile;
    line-height: $line-height-h2-mobile;
  }
}

.h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-h3-mobile;
    line-height: $line-height-h3-mobile;
  }
}

.body {
  font-size: $font-size-body;
  line-height: $line-height-body;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-body-mobile;
    line-height: $line-height-body-mobile;
  }
}

.smallBody {
  font-size: $font-size-small-body;
  line-height: $line-height-small-body;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-small-body-mobile;
    line-height: $line-height-small-body-mobile;
  }
}

.regular {
  font-family: $font-family-regular;
}

.medium {
  font-family: $font-family-medium;
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.black {
  color: black;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.smallLine {
  border-bottom: 1px solid currentColor;
}

.mediumLine {
  border-bottom: 2px solid currentColor;
}
