@import "../../styles/all.css";

.popup {
  display: flex;
  flex-direction: column;
  padding: calc($spacing-8 * 0.5);

  .detail {
    flex-direction: row;

    max-width: $four-columns;

    small:first-child {
      margin-right: calc($spacing-8 * 0.5);
    }
  }

  .detail:not(:first-child) {
    margin-top: $spacing-8;
  }
}
