@import "../../styles/all.css";

.popup {
  z-index: 2;

  display: flex;
  flex-direction: column;
  padding: calc($spacing-8 * 0.5);

  .detail,
  .title {
    flex-direction: row;

    max-width: $four-columns;

    margin-top: $spacing-8;

    small:first-child {
      margin-right: calc($spacing-8 * 0.5);
    }
  }

  .detail:first-child {
    margin-bottom: $spacing-20;
  }
}
