@import "../styles/all.css";

.root {
  height: 100vh;
  padding: 0;

  margin: 0;

  overflow: hidden;
}

.container {
  position: relative;
  z-index: 0;

  width: 100%;
  height: 80vh;
  border: 5px solid red;
  margin: 0;
}

.footer {
  position: relative;

  width: 100vw;

  z-index: 1;

  height: 10vh;
}
