@import "../../styles/all.css";

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: $klein-blue;

  text-align: center;
}

.menu {
  position: absolute;
  right: $spacing-32;

  display: flex;

  button {
    background: none;
    border: none;

    cursor: pointer;

    outline: none;

    text-transform: uppercase;
  }
}
