@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: row;

  height: 100%;

  background-color: $klein-blue;

  svg {
    margin-left: $spacing-20;
  }
}

.content {
  align-self: center;

  margin: 0 auto;
}
